#box {
    width: 100px; 
    height: 100px; 
    position: absolute; 
    background: gray; 
    left: 200px; 
    top: 200px;  
}

img {
    width:100px;
    height: 100px;
   position: relative;

}